body {
    margin: 0;
    height: 100vh;
    font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-size: 45px;
    background-color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 13px;
    padding-right: 13px;
}

nav {
    display: flex;
    background: white;
}

img {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 50%; 
}

p {
    color: #080808;
    text-align: left;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: white;
    max-width: 90%;
}

p1 {
    background: white;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 90%;
}

p2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 95%;
    max-width: 800px;
    text-align: left;
    margin-bottom: 20px; 
    margin-top: 15px;
}


nav a{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-left: 50px;
    text-decoration: none;
}

.homepage-link a:-webkit-any-link {
    text-decoration: none;
}
header h1 {
    color: #000;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}

.special-letter{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 


h2{
    color: #000;
    text-align: center;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #ffffff;
    margin-top: 35px;
    margin-bottom: 15px;
}


.home main {
    height: 100%;
    max-height: calc(100vh - 160px);
    background: url('/assets/homebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
}

.main-photo img {
    width: 100%;
    height: auto;
}

.benefits main {
    background: url('/assets/benefits background.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.overalldescription{
    color: #080808;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    margin: 50px;
    margin-right: 50px;
    background: white;
}


.physcialdescription{
    display: flex;
    justify-content: center;
}

ul{
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0%;
    margin-bottom: .5px;
    background: white;
    width: 60%; 
    max-width: 800px;
}


.home {
    overflow-y: hidden;
}

@media (min-width: 1020px) {
    header h1{
        font-size: 50px;    
        min-width: 567px;
    }

    h2 {
        font-size: 32px;
        max-width: 60%;
    }

    .home main {
        max-height: calc(100vh - 160px);
    }

    p {
        font-size: 20px;
        max-width: 80%;
        background: white;
    }

    p1 {
        background: white;
        margin-top: 15px;
        font-weight: 500;
        font-size: 20px;
        max-width: 85%;
    }

    ul {
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        max-width: 90%;
    }

    .overalldescription {
        font-size: 36px;
    }

    benefitsp {
        font-size: 30px;
    }

    img {
        max-width: 25%;
    }
    p2 {
        font-size: 18px;
        font-weight: 500;
        width: 62%;
        text-align: center;
        margin-bottom: 100px;
    }

}
