body {
    margin: 0;
    height: 100vh;
    font-family: Montserrat, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    font-size: 45px;
    background-color: white;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 13px;
    padding-right: 13px;
}

nav {
    display: flex;
}

p {
    font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 90%;
max-width: 800px;
}


nav a{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    margin-left: 50px;
    text-decoration: none;
}

.homepage-link a:-webkit-any-link {
    text-decoration: none;
}
header h1 {
    color: #000;
    font-size: 30px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
}

.special-letter{
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
} 


h2{
    color: #000;
    text-align: center;
    font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: rgba(255,255, 255, 1);
}


.home main {
    height: 100%;
    max-height: calc(100vh - 160px);
    background: url('/assets/homebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-wrap: wrap;
    padding-left: 13px;
    padding-right: 13px;
}

.main-photo img {
    width: 100%;
    height: auto;
}

/* benefits page starts */

.benefits main {
    background: url('/assets/benefits background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.benefits p {
    background: white;
}

.overalldescription{
    color: #080808;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    margin: 50px;
    margin-right: 50px;
    background: white;
}

h4{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    margin-bottom: 0;
    background: white;
}

.physcialdescription{
    display: flex;
    justify-content: center;
}
h5{
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0%;
    margin-bottom: 0%;
    background: white;
}


h6{
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0%;
    background: white;
}

h7{
    color: #000;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    margin-bottom: 0;
    margin-top: 50px;
    background: white;
}


ul{
    color: #000;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0%;
    margin-bottom: 20px;
    background: white;
    width: 90%; 
    max-width: 800px;
}



h9{
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0%;
    margin-bottom: 5%; 
    background: white;
}

.home {
    overflow-y: hidden;
}

@media (min-width: 1020px) {
    header h1{
        font-size: 55px;    
        min-width: 567px;
    }

    h2 {
        font-size: 48px;
    }

    .home main {
        max-height: calc(100vh - 160px);
    }

}

/* Technique Page Starts */

.journalphoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h16 {
    color: #000;
    font-family: Monserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

h17 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.collagephoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h18 {
    color: #000;
    font-family: Monserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

h19 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.drawphoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h20 {
    color: #000;
    font-family: Monserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

h21 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.coloringphoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h22 {
    color: #000;
    font-family: Monserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

h23 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal 
}

/* Gallery Page Starts */

.sarahphoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}
h10 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h11 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.meghanphoto{
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h12 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h13 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.jacksonphoto {
    display: flex;
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40%;
}

h14 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h15 {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}