<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'PEACEFULPALETTE Gallery' %}
<body class="gallery">
    {% include 'header' %}
    <main>
        <div class="Gallery1"></div>
            <h2 class="Sarah Jacob">Sarah Jacob, 24 years old</h2>
            <img src="/assets/sarah.png" class="sarahphoto" alt="Sarah Jacob: Collage Art Therapy"></img>
            <p class="Sarah Description"> Creating my collage as a form of art therapy was more than just arranging images and colors; it became a journey of self-discovery and healing. Each cutout, each placement, spoke volumes about my emotions and experiences. The process allowed me to externalize my inner world, piece by piece, until I could see a reflection of my journey right in front of me. </p>
        
        <div class="Meghan Pipko"></div>
            <h2 class="Meghan Pipko">Meghan Pipko, 30 years old</h2>    
            <img src="/assets/meghan.png" class="meghanphoto" alt="Meghan Pipko: Free Drawing and Expression Art Therapy"></img>
            <p class="Meghan Description"> Creating that simple doodle was a turning point for me. In the midst of chaos, it became my sanctuary. The strokes of my pen became whispers of calm, and the colors I chose expressed emotions I couldn't articulate. That little doodle was more than art; it was my anchor, a tiny masterpiece that helped me navigate through turbulent waters. It's amazing how something so seemingly small could carry the weight of my emotions and lead me towards tranquility.</p>
        
        <div class="Jackson Avery"></div>
            <h2 class="Jackson Avery"> Jackson Avery, 45 years old</h2>
            <img src="/assets/jackson.png" class="jacksonphoto" alt="Jackson Avery: Art Journal Art Therapy"></img>
            <p class="Jackson Description"> Creating my art journal has been a transformative journey. Through each stroke of color and every penned emotion, this personal visual diary became my sanctuary. It guided me through moments of uncertainty, serving as a compass for my thoughts and feelings. It's where I found solace, expressing what words couldn't convey. My art journal became a cherished confidant, a safe space that allowed me to explore, heal, and embrace my inner world.</p>
        </main>
    {% include 'footer' %}
</body>
</html>