<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'PEACEFULPALETTE Techniques' %}
<body class="techniques">
    {% include 'header' %}
    <main>
        <div class="technique1"></div>
          <h2>Art Journaling</h2> 
          <img src="/assets/journal.png" class="journalphoto" alt="Art Journaling Example"></img>
          <p2 class="Journal Description"> Art journaling is a therapeutic technique that combines the expressive qualities of art with the reflective aspects of journaling. Begin by selecting a sketchbook and gather various art supplies such as pens, markers, paints, and collage materials. Allow yourself the freedom to create without judgment or expectation, using the process as a means of self-expression. Explore your emotions, thoughts, and experiences through the visual medium, letting the art unfold intuitively. This practice promotes self-discovery, stress relief, and emotional healing, providing a safe and non-verbal outlet for processing and understanding one's inner world.   </p2>
        
        <div class="technique2"></div>
            <h2> Collage Making </h2>
            <img src="/assets/collage.png" class="collagephoto" alt="Collage Example"></img>
            <p2 class="Collage Description"> Collage making in art therapy involves gathering various materials like magazines, newspapers, fabric, and personal images to create a visual representation. Through this process, individuals can explore their emotions, thoughts, and experiences in a non-verbal way. Without judgement or expectations, select and arrange images and textures. They can express subconscious feelings, uncover patterns, and create narratives. The act of cutting, arranging, and pasting materials allows for a therapeutic release, offering a safe space for self-expression and exploration of inner thoughts and emotions, ultimately promoting self-awareness and insight.
            </p2>
    
        <div class="technique3"></div>
            <h2> Free Drawing and Expression</h2>
            <img src="/assets/freedraw.png" class="drawphoto" alt="Free Drawing Example"></img>
            <p2 class="Free Draw Description"> Free Drawing and Expression in art therapy involves allowing individuals to create without constraints or specific directives. It's a process where individuals are encouraged to freely express their thoughts, emotions, and experiences through art. By providing a blank canvas and various art materials, participants can explore their inner world, letting their subconscious guide their creations. This technique fosters self-discovery, helps individuals tap into their creativity, and enables them to communicate and process feelings that might be difficult to express verbally.
            </p2>
        
        <div class="technique4"></div>
            <h2> Mindful Coloring </h2>
            <img src="/assets/coloring.png" class="coloringphoto" alt="Coloring Page Example"></img>
            <p2 class="Coloring Description"> Mindless coloring is a therapeutic technique where individuals engage in coloring activities without focusing on the outcome or staying within lines. This approach encourages relaxation, mindfulness, and stress reduction by allowing the mind to wander freely while the hands stay occupied. Through this process, individuals can access a meditative state, promoting emotional expression, self-reflection, and a sense of calm. The absence of pressure for perfection fosters a non-judgmental environment, making mindless coloring an accessible and beneficial tool for art therapy, particularly for those seeking stress relief and mental relaxation.
            </p2>
    </main>
    {% include 'footer' %}
</body>
</html>