<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'PEACEFULPALETTE Techniques' %}
<body class="techniques">
    {% include 'header' %}
    <main>
        <div class="technique1"></div>
          <h16 class="Art Journaling">Art Journaling</h16> 
          <img src="/assets/journal.png" class="journalphoto" alt="Art Journaling Example"></img>
          <h17 class="Journal Description"> Start an art journal where you combine writing with drawing and collage making.
            Use it as a personal space to document your emotions, experiences, and thoughts in a creative way. </h17>
        
        <div class="technique2"></div>
            <h18 class="Collage Making"> Collage Making </h18>
            <img src="/assets/collage.png" class="collagephoto" alt="Collage Example"></img>
            <h19 class="Collage Description"> Collect old magazines, newspapers, colored paper, and glue.
                Cut out images, words, or phrases that resonate with you or express your emotions. Arrange and glue these cutouts onto a larger sheet of paper to create a collage that represents your feelings or aspirations.</h19>
    
        <div class="technique3"></div>
            <h20 class="Free Draw"> Free Drawing and Expression</h20>
            <img src="/assets/freedraw.png" class="drawphoto" alt="Free Drawing Example"></img>
            <h21 class="Free Draw Description"> Gather your art supplies and start drawing freely without any specific goal in mind.
                Allow your emotions to guide your hand and express yourself through line, color, and shapes. 
                </h21>
        
        <div class="technique4"></div>
            <h22 class="Mindful Coloring"> Mindful Coloring </h22>
            <img src="/assets/coloring.png" class="coloringphoto" alt="Coloring Page Example"></img>
            <h23 class="Coloring Description"> Get an adult coloring book or print out intricate designs 
                Color mindfully, focusing on each stroke and the sensations it brings, concentrating on the act of coloring can be relaxing and meditative. </h23>
    </main>
    {% include 'footer' %}
</body>
</html>