<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'PEACEFULPALETTE Techniques' %}
<body class="page">
    {% include 'header' %}
    <main>
        <div class="technique1"></div>
          <h19 class="Art Journaling">Art Journaling</h19>  
          <h20 class="Journal Photo"> </h20>
          <h21 class="Journal Description"> Start an art journal where you combine writing with drawing and collage making.
            Use it as a personal space to document your emotions, experiences, and thoughts in a creative way </h21>
        
        <div class="technique2"></div>
            <h22 class="Collage Making"> Collage Making </h22>
            <h23 class="Collage Photo"> </h23>
            <h24 class="Collage Description"> Collect old magazines, newspapers, colored paper, and glue.
                Cut out images, words, or phrases that resonate with you or express your emotions. Arrange and glue these cutouts onto a larger sheet of paper to create a collage that represents your feelings or aspirations.</h24>
    
        <div class="technique3"></div>
            <h25 class="Free Draw"> Free Drawing and Expression</h25>
            <h26 class="Free Draw Photo">  </h26>
            <h27 class="Free Draw Description"> Gather your art supplies and start drawing freely without any specific goal in mind.
                Allow your emotions to guide your hand and express yourself through line, color, and shapes. 
                </h27>
        
        <div class="technique4"></div>
            <h28 class="Mindful Coloring"> Mindful Coloring </h28>
            <h29 class="Coloring Photo"> </h29>
            <h30 class="Coloring Description"> Get an adult coloring book or print out intricate designs 
                Color mindfully, focusing on each stroke and the sensations it brings, concentrating on the act of coloring can be relaxing and meditative</h30>
    </main>
    {% include 'footer' %}
</body>
</html>